# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.cromvid
*.brain

# Profiling
*.prof
cpu.prof
mem.prof

# Media Outputs / Cache
pesquisas/dados_estaveis/*.mp4
pesquisas/dados_estaveis/*.png
pesquisas/dados_estaveis/*.jpg
pesquisas/dados_estaveis/*.jpeg
pesquisas/dados_estaveis/*.wav
pesquisas/imagem_vivo/**/*.png
pesquisas/imagem_vivo/**/*.jpg
pesquisas/video_vivo/**/*.png
pesquisas/video_vivo/**/*.mp4

# IDEs / OS files
.DS_Store
.idea/
.vscode/

# Ignorar grandes arquivos de midia brutos (Para não onerar repositório)
*.mkv
*.avi
*.mov
*.mp3
*.raw
*.bmp

# Ignorar cerebros serializados e dados do colisor
*.gob
pesquisas/dados/
pesquisas/colisao_massiva_2gb/colisor_massivo
pesquisas/colisao_massiva_2gb/gerador_dataset
pesquisas/colisao_massiva_2gb/*.log
pesquisas/colisao_massiva_2gb/*.csv
pesquisas/colisao_massiva_2gb/colisor_linux

# CROM Studio
web/tmp/
web/brains/
*.crom
